version: "3"
services:
  database:
    build:
      context: .
      dockerfile: ./db.dockerfile
    container_name: "database"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: "todo"
      POSTGRES_USER: "user"
      POSTGRES_PASSWORD: "hjkasikdyq899q823njmknjmkasd"